:root {
    --background: #030014;
    --foreground: #ffffff;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities can go below */

/* Ensure background-clip for gradient text on WebKit browsers */
.bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
}